[user]
# Please adapt and uncomment the following lines:
  name = JQiue
  email = 861947542@qq.com
[http]
  proxy = 127.0.0.1:7890
[alias]
	ds = diff --stat
  st = status -sb
  logg = log --oneline
  co = checkout
  br = branch
  d = !git --no-pager diff
  stat = !git --no-pager diff --stat